.header {
  height: 4.375rem;
  background-color: var(--secondary);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 100vw;
  width: auto;
  position: static;
}

header > div {
  margin: 0 10px;
}

.options-button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.Lear,
.E7 {
  display: inline-block;
  height: 3rem;
  width: auto;
  margin-left: 1rem;
}

@media (max-width: 400px) {
  .Lear,
  .E7 {
    display: inline-block;
    height: 1rem;
    width: 3rem;
    margin-left: 1rem;
  }
}
