body {
  font-size: 1.1rem;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary: #3278cd;
  --secondary: #dbd5d5;
  --red: red;
  --unclickable: lightgrey;
  --green: rgb(0, 153, 0);
  --blue: blue;
  --white: white;
  --danger: #eb3f27;
}

.appBody {
  height: calc(100vh - 4.375rem);
  width: auto;
}

.css-105dyb7 {
  display: none !important;
}

.grafana-app {
  visibility: hidden;
}

.filldivw {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.filldivh {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@import url("https://cdn.syncfusion.com/ej2/materials.css");
