body {
  overflow: hidden;
  background-color: white;
}

.options-div {
  height: calc(100vh - 4.375rem);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin: 1rem;
  width: 100%;
}

.config {
  height: inherit;
  grid-column: 2/9;
  display: grid;
  grid-template-rows: repeat(10, 4rem);
  row-gap: 1rem;
}

.datos {
  grid-column: 12/19;
  display: grid;
  grid-template-rows: repeat(10, 4rem);
  row-gap: 1rem;
}

.buttons {
  display: flex;
}

.valores {
  grid-row: 1/6;
}

.buttons {
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-content: center;
  height: 3rem;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.start-button {
  background-color: green;
  grid-row: 7/8;
}
.stop-button {
  background-color: red;
  grid-row: 8/9;
}
.test-button {
  background-color: blue;
  grid-row: 9/10;
}
.downloadButton {
  background-color: var(--primary);
  grid-row: 10/11;
}
.unclickable-start-button {
  background-color: var(--unclickable);
  grid-row: 7/8;
}
.unclickable-stop-button {
  background-color: var(--unclickable);
  grid-row: 8/9;
}
.unclickable-test-button {
  background-color: var(--unclickable);
  grid-row: 9/10;
}
.deleteLine {
  color: white;
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 10px;
  background-color: red;
  align-items: center;

  height: 3rem;
  grid-row: 9/10;
}

.createLine {
  color: white;
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 10px;
  background-color: var(--primary);
  align-items: center;
  grid-row: 10/11;
  height: 3rem;
}

.select-linia {
  grid-row: 1/2;
}

.nlecturas {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.lecturas-box {
  grid-row: 3/8;
}

.times-box {
  padding: 1rem;
  overflow-y: scroll;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
  height: 100%;
}

.times-box::-webkit-scrollbar {
  width: 10px;
}

.times-box::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1rem;
}

.time-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
}

.time-box > .value-field {
  width: 50%;
  margin-left: 1rem;
}

.value-field {
  height: 2.3rem;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
  padding: 0 0.5rem;
}

.QR-Code {
  grid-row: 1/2;
}

.lecturas-view {
  grid-row: 2/6;
}

.Valor-Final {
  grid-row: 6/7;
}

.lect-individual {
  padding: 1rem;
  overflow-y: scroll;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
  height: 100%;
}

.lect-individual::-webkit-scrollbar {
  width: 10px;
}

.lect-individual::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1rem;
}

.value {
  font-size: 2rem;
}

.lectrow {
  font-size: 1.4em;
  font-weight: 400;
}

.title-field {
  margin-bottom: 0.3rem;
}

@media (max-width: 400px) {
  .options-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    height: 100%;
    justify-content: space-between;
  }
  .config {
    margin: 1rem;
  }
  .datos {
    margin: 1rem;
  }
  .createLine {
    grid-row: 9/10;
  }
  .deleteLine {
    grid-row: 8/9;
  }
}
